# **Introduction to Python. Day 2**

## *Dr Kirils Makarovs*

## *k.makarovs@exeter.ac.uk*

## *University of Exeter Q-Step Centre*

---

# **Welcome to Day 2!**

## **By now, you should be familiar with:**

+ The overall workflow of Jupyter Notebooks in Google Colab
+ The basics of Python syntax and operations with lists

## **Today, we are going to look at:**

+ How to read in external datasets and create your own ones
+ How to navigate datasets - subsetting, accessing rows/columns
+ Operations with variables i.e. recoding, creating new variables

---

# **1. Preparing to work in Python**

In [ ]:
# Import the necessary libraries

import pandas as pd # data analysis and management library
import numpy as np # multi-dimensional arrays
import math # library with math-related commands like square root, etc.
import random # random number generator via random.sample()

In [ ]:
# Mount your Google Drive

# Mounting your Google Drive will enable you to access files from Drive in Google Colab e.g. datasets, notebooks, etc.

from google.colab import drive

# This will prompt for authorization. Enter your authorisation code and rerun the cell

drive.mount('/content/drive')

---

# **2. Pandas. Working with dataframes in Python**

<figure>
<left>
<img src=https://miro.medium.com/max/481/1*n_ms1q5YoHAQXXUIfeADKQ.png  width="450">
</figure>

## **Loading dataframes from external sources**

With *Pandas*, you can open datasets that are stored in a great variety of formats

(just start typeing `pd.read_` in a code cell and you'll see all the possible options)

Here is a list of most common types of data and commands to open them

| Data format | Explanation | Command
| ------- | -------- | ---
| .csv | Comma-separated values | `pd.read_csv()`
| .xls / .xlsx | Excel spreadsheet | `pd.read_excel()`
| .dta | STATA Data file format | `pd.read_stata()`
| .sav | SPSS Data file format | `pd.read_spss()`

This is how a typical dataset looks like:

<figure>
<left>
<img src=https://media.geeksforgeeks.org/wp-content/uploads/finallpandas.png width="550">
</figure>

**[Image source](https://www.geeksforgeeks.org/python-pandas-dataframe/)**

In [ ]:
# Here is an example of how to open a .csv dataframe in Python using Pandas library

df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Intro_to_python/Day_2/mtcars.csv')
# Note that you need to mount your Google Drive first! (see above)
# And it's likely that your pathway to file will be different from mine

df.head(10)

# to see explanation and additional arguments for this and other commands run 'pd.your_command_here?'
# E.g. pd.read_csv?

## **Generating dataframes manually**

You can also generate your own data from lists, arrays and other types of data in Python via `pd.DataFrame()` command

In [ ]:
# Generating a dataset from a numpy array, in which each element is a list

df = pd.DataFrame(data = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
                  columns = ['a', 'b', 'c'])

df

# Generating the very same dataset from a dictionary
# {'column_name_1' : [column_data_1],
#  'column_name_2' : [column_data_2],
#  'column_data_3' : [column_data_3]}

df = pd.DataFrame(data = {'a' : [1, 2, 3],
                          'b' : [4, 5, 6],
                          'c' : [7, 8, 9]})

df

## **Exercise 1**

Look at this screenshot of a dataset below that I created using `pd.DataFrame()` command.

You will now be asked to replicate it! More instruction in the code cell below.

<figure>
<left>
<img src=https://i.ibb.co/M6GytC2/data.png width="500">
</figure>

In [ ]:
# The dataset above consists of 15 rows and 6 columns (variables), and each column follows a certain pattern.
# Identify it and try to replicate!
# Recall all you know about lists and how you can concatenate and multiplicate them,
# and try to reproduce this very dataset via pd.DataFrame() command.
# (I suggest using the dictionary approach to creating dataset)
# Note that var_1 consists of 15 random values taken from the range of 10 to 1000, so your values won't be exactly as mine are
# For all other columns - it is possible to replicate them fully!

# (Please don't try to manually define all the values in each column - the main reason we're learning coding is to save ourselves some time and nerves!)

---

# **3. Getting to know a dataframe in Pandas**

In [ ]:
# Let's create a dataset with the following columns:

# Name of a staff
# Life satisfaction on the scale from 0 to 10
# Whether they were in the office last Tuesday
# Job type
# Their body temperature

# I additionaly set indeces (i.e. row names) with the index argument.

df = pd.DataFrame(data = {'name' : ['Michael', 'Dwight', 'Jim', 'Pam', 'Erin', 'Kevin', 'Andy', 'Angela'],
                          'life_satisfaction' : [5, 9, 7, 7, 8, 5, 10, 4],
                          'tuesday' : [True, False, False, False, True, True, True, True],
                          'job' : ['manager', 'sales', 'sales', 'sales', 'receptionist', 'accounting', 'sales', 'accounting'],
                          'temperature' : [36.8, 37.1, 36.1, 36.6, 38.2, 39.1, 36.5, 36.9]
                          },
                  index = ['MS', 'DS', 'JH', 'PB', 'EH', 'KM', 'AB', 'AM']
                  )

df

In [ ]:
# Some helpful commands to get to know the dataset

type(df) # object type - pandas.core.frame.DataFrame

df

df.shape # number of rows and columns

df.columns # column names

df.index # indeces

df.info() # summary of the variables in the dataset
# Dtype column shows what type of variable it is - we'll talk about it later

df.head(10) # get the top 5 rows of the dataset

df.tail() # get the last 5 rows of the dataset

df.describe() # picks out only numerical variables (Dtype int64 or float64)
# and shows basic descriptive statistics

In [ ]:
# If you want all numbers to be rounded up to two decimals, run this line:

pd.set_option("display.precision", 2)


---

# **4. Subsetting dataframes via `.loc[]` and `.iloc[]` methods**

| Command | Description |
| ------ | ----------- |
| `.iloc[]`   | position-based subsetting |
| `.loc[]` | label-based subsetting |

## **Using `.iloc[]` to navigate a dataframe by row and column numbers**

In [ ]:
df

In [ ]:
# Selecting various columns from the dataframe

df.iloc[:, 0] # select first column (remember that Python starts counting from 0!)

# Note that when you pick a single column, you get as a Series rather than a DataFrame (check type(df.iloc[:, 0]))
# If you want it to be a DataFrame with a single column, provide the number of column in [], like this: df.iloc[:, [0]]
# This only applies to those cases when you want to pick a single column

df.iloc[:, 1:3] # select 2nd and 3rd columns

df.iloc[:, -2:] # select last 2 columns 

df.iloc[:, :-1] # select all columns except the last one

df.iloc[:, [0, 1, 4]] # select the 1st, 2nd, and 5th columns

In [ ]:
# Same goes with rows

df.iloc[0, :] # select first row and all columns. Also try df.iloc[[0], :]

df.iloc[[0], :]

df.iloc[:4, :] # select first 4 rows

df.iloc[-5:, :] # select last 5 rows 

df.iloc[:-3, :] # select all rows except last 3

df.iloc[[0, 3, 7], :] # select 1st, 4th, and 8th rows

In [ ]:
# You can combine row and column selection with .iloc[]

df.iloc[0:6, 1:4] # select first 5 rows and columns from 2 to 4

df.iloc[[1, 5, 7], [0, 2, 4]] # 2nd, 6th, and 8th rows and 1st, 3rd, and 5th columns

## **Using `.loc[]` to navigate a dataframe by row and column names**

In [ ]:
# Generally, .loc[] method is more helpful than the .iloc[] one
# as you usually want to pick variables (and, less commonly, rows) by their names
# rather than their position in the dataframe

df.loc[:, 'name'] # select the variable of name. Also try df.loc[:, ['name']]

# When selecting columns, you can simply use: df['name'] or df[['name']]

df.loc[:, ['name', 'tuesday', 'temperature']] # selecting three variables

df[['name', 'tuesday', 'temperature']] # selecting three variables

df.drop(['name'], axis = 1) # keep all variables except name.
# Axis = 1 means that .drop() method will look for 'name' among column names
# Axis = 0 would imply search among row names

In [ ]:
# Selecting rows by their indeces - same principle

df.loc[['MS', 'DS', 'AM'], :] # three rows, all variables

df.drop(['AM'], axis = 0) # keep all rows except AM

In [ ]:
# Finally you can combine row and column selection via .loc[]

df.loc[['MS', 'EH'], ['life_satisfaction', 'temperature']]

## **Exercise 2**

Alright, now you will practice what you've learned!

In [ ]:
# Using .iloc[] and .loc[] methods, please:

 # select first 4 rows and all columns

 # select 2 last columns and all rows

 # select rows 2, 5, and 7, and all columns except the 3rd one

df.columns[2] # this is how you can see which column goes under the number 2 (that is, 3rd column in the dataframe)

 # select columns of job and temperature

 # select rows that are labelled as KM, AB, and MS

# Now, try to select only those rows whose labels start with A, and those columns whose name start with t
# First, remember how you can access the names of all columns and rows in Pandas dataframe
# Then apply .str.startswith('') method on it and put 'A' and 't' in round brackets respectively
# Now wrap it into the .loc[] method and you should be able to get a correct result!

---

# **5. Subsetting dataframes based on the values of variables**

In [ ]:
# Let's get the dataset

df

In [ ]:
# This involves working with .loc[] method and using logical statements

# Say we need to select only those people who work in sales
# This is the same as saying that we need to keep all columns
# and select only those rows (people) who have 'sales' in job variable

# First, try running this:

df['job'] == 'sales'

# Each row of the dataset is tested whether its value of job variable is equal to 'sales'
# As a result, you get a Series of True or False values, and it's length is equal
# to the number of rows in the dataset

len(df['job'] == 'sales') == df.shape[0] # True

# Now if you plug this into .loc[] method, you will be able to select
# only those rows, that got True value i.e. they work in sales

df.loc[df['job'] == 'sales', :] # select only those who work in sales and keep all columns

# For short, this can also be done as df.loc[df['job'] == 'sales']

# Or even shorter: df[df['job'] == 'sales']

# You can test more than one condition at the same time, but then each one of them
# should be put in round brackets and concatenated either with & or |

# & in Pandas means AND
# | in Pandas means OR (see image below)

# So, say we want to keep only those people who work in sales
# AND whose level of life satisfaction is above 5

# Here is how you can test these two condition

(df['job'] == 'sales') & (df['life_satisfaction'] > 5)

# And this is how you use them with .loc[]

df.loc[(df['job'] == 'sales') & (df['life_satisfaction'] > 5)]

# Selecting those who are either manager or accountant

df.loc[(df['job'] == 'manager') | (df['job'] == 'accounting')]

<figure>
<left>
<img src=https://www.lotame.com/wp-content/uploads/2016/07/BooleanLogic_NR.jpg  width="500">
</figure>

In [ ]:
# You can use .isin() method instead of multiple OR conditions if you want to select more than one category from a single variable

# Same as a last example above, but via .isin() method

df.loc[df['job'].isin(['manager', 'accounting'])]

# Shorter:

df[df['job'].isin(['manager', 'accounting'])]

In [ ]:
# You can filter out boolean variables - those that get only True or False values - in the following way:

# Keep only those people that have True in tuesday variable

# This is the most explicit option:

df.loc[df['tuesday'] == True]

# These options also work:

df[df['tuesday'] == True]

df[df['tuesday']]

# If you want to keep those who have False in a boolean variable:

df.loc[df['tuesday'] != True] # same as '== False'

df[df['tuesday'] != True]

## **Exercise 3**

Alright, time to practice!

*Please select the following subsets of the `df` dataframe:*

> 1. people, whose `temperature` is below or equal to 36.6
> 2. people, who **do not** work in sales
> 3. people, whose life satisfaction is above 7 **or** who were in on Tuesday
> 4. people, whose life satisfaction is above the median, **and** the temperature is above the mean
> 5. Michael, Jim, and Pam, and keep only `life_satisfaction` and `temperature` variables

*(Feel free to create a new code cell per each task so you could clearly see the output dataset)*

In [ ]:
# 1. People, whose temperature is below 36.6

In [ ]:
# 2. People, who do not work in sales

In [ ]:
# 3. People, whose life satisfaction is above 7 or who were in on Tuesday

In [ ]:
# 4. People, whose life satisfaction is above the median, and the temperature is above the mean

In [ ]:
# 5. Michael, Jim, and Pam, and keep only life_satisfaction and temperature variables

---

# **6. Creating new variables in a dataframe**

## **Adding new variables manually**

In [ ]:
# When creating a new variable, the dataframe is automatically updated

df['random_column'] = 'random_value'

df['true_or_false'] = True

df['id_number'] = np.arange(start = 1, stop = df.shape[0] + 1, step = 1) # 1, 2, 3, 4, 5, 6, 7, 8

df

# When creating a variable manually, make sure that its length is the same as a number of rows in a dataframe

# df['weird_numbers'] = [17, 21] # ValueError: Length of values (2) does not match length of index (8)

df['weird_numbers'] = [17, 21] * 4 # This one works

df

# Drop useless variables

df.drop(['random_column', 'true_or_false', 'weird_numbers', 'id_number'], axis = 1, inplace = True)

# axis = 1 means searching for these names in column names (axis = 0 would search in row names)

# Note the inplace = True argument
# Its default value is False
# If False, return a copy. Otherwise, do operation inplace and return None.

# If you want to create a copy of a dataset without some of the variables, keep inplace = False (default), and run something like:
# df_2 = df.drop(['random_column', 'true_or_false', 'weird_numbers'], axis = 1)

# 'inplace' argument applies to many of the pandas methods and functions, so keep an eye on the documentation!

# Due to time constraints, in this course we don't cover merging two or more dataframes into one,
# or adding new values by key (i.e. by row index)

## **Creating new variables based on the values of existing variables**

In [ ]:
# Let me add two new variables called income_year_1, and income_year_2

# Derive 8 random values from the normal distribution which has a mean value of 35000 and sd of 10000,
# and then round up the values up to 1 decimal

df['income_year_1'] = np.random.normal(35000, 10000, 8).round(1)

df['income_year_2'] = np.random.normal(35000, 10000, 8).round(1)

df

# Variable of total income

df['total_income'] = df['income_year_1'] + df['income_year_2']

df

# Less manual way
# df['total_income_2'] = df[['income_year_1', 'income_year_2']].sum(axis = 1)

# Variable of mean income

df['mean_income'] = df[['income_year_1', 'income_year_2']].mean(axis = 1)

df

### **Using `np.where()` to test a single if-else condition**

`np.where()` has the following structure: *`(logical condition, value of True, value if False)`*

In [ ]:
# Creating a new variable called 'sales' that will have True for everyone who works in sales,
# and False for others

df['sales'] = np.where(df['job'] == 'sales', True, False)

df

# Creating a new variable called 'life_satisfaction_binary' that will have 'High LS' value
# for everyone whose LS is above or equals 5, and 'Low LS' for others

df['ls_binary'] = np.where(df['life_satisfaction'] >= 5, 'High', 'Low')

# Creating a new variable called 'satisfied_and_healthy' that will have True value
# for everyone who's got LS value higher than the mean office value AND whose body temperature is strictly 36.6

df['satisfied_and_healthy'] = np.where((df['life_satisfaction'] > df['life_satisfaction'].mean()) & (df['temperature'] == 36.6), True, False)

(df['life_satisfaction'] > df['life_satisfaction'].mean()) & (df['temperature'] == 36.6)

# Creating a new variable called 'is_rich' that will have 'YES' value
# for everyone whose total income is above the average total income in the office, and missing value for all others

# np.nan - Not A Number - the most common type of missings in dataframes 

df['is_rich'] = np.where(df['total_income'] > df['total_income'].mean(), 'YES', np.nan)

df

## **Exercise 4**

Time to practice!

*Please create the following variables in the `df` dataframe:*

> 1. `need_hospital`, that gets the value `True` if `temperature` is above 38, and `False` for others
> 2. `income_comparison`, that gets the value `'Year 1'` if income in the first year is higher than in the second year, and the value `'Year 2'` if the opposite
> 3. `happy_people`, that gets the value `'super happy'` if it's Michael or anyone else with life satisfaction of 9 or 10, and `'not really'` for all others


*(Feel free to create a new code cell per each task so you could clearly see the output dataset)*

In [ ]:
# 1. `need_hospital`, that gets the value `True` if `temperature` is above 38, and `False` for others

In [ ]:
# 2. `income_comparison`, that gets the value 'Year 1' if income in the first year is higher than in the second year,
# and the value 'Year 2' if the opposite

In [ ]:
# `happy_people`, that gets the value `'super happy'` if it's Michael or anyone else with life satisfaction of 9 or 10,
# and `'not really'` for all others

### **Postscriptum: Using `np.select()` to test multiple if-else conditions**

`np.select()` has the following structure: *`(list of logical condition, list of respective output values)`*

In [ ]:
# np.select() documentation available here:
# https://numpy.org/doc/stable/reference/generated/numpy.select.html

# Say you want to create a new variable called ls_level and group employees by their level of life satisfaction into 3 distinct groups:

# Low LS - for those who scored anything from 0 to 4
# Mid LS - for those who scored anything from 5 to 7
# High LS - for those who scored anything from 8 to 10

# This is nothing more than asking Python to:

# Assign value 'Low ls' to the variable ls_level if df['life_satisfaction'] <= 4
# Assign value 'Mid ls' to the variable ls_level if (df['life_satisfaction'] >= 5) & (df['life_satisfaction'] <= 7)
# Assign value 'High ls' to the variable ls_level if df['life_satisfaction'] >= 8

# To use this idea in np.select(), we need to create two lists

# List of conditions:

conditions = [df['life_satisfaction'] <= 4,
              (df['life_satisfaction'] >= 5) & (df['life_satisfaction'] <= 7),
              df['life_satisfaction'] >= 8]

# List of outcome values:

outcomes = ['Low LS', 'Mid LS', 'High LS']

# Now use np.select to create a new variable

df['ls_level'] = np.select(conditions, outcomes)

# Check the results:

df[['life_satisfaction', 'ls_level']]

# **That's the end of Day 2!**